*{
  color: black;
}
body {
  background: linear-gradient(to right, #16222a, #3a6073);
}
.App {
  text-align: center;
}
.headingOne {
  color: gold;
}
.fakeStoreDiv {
  background: #16222a;
  width:1200px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #16222a;
}
.getProductsBTN {
  background: #3a6073;
  border: 0px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: 900;
  color: gold;
}
.productContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}
.productDiv {
  width: 300px;
  height: 450px;
  border: 2px solid gold;
  padding: 10px;
  margin: 10px;
  /* border-radius: 25px; */
  background-color: white;
}
.productImage {
  width: 300px;
  height: 300px;
  object-fit: contain;
  /* background: transparent; */
  mix-blend-mode: multiply;  
}
p {
  font-weight: 600;
}